@charset "UTF-8";
/* Divs con Display Flex Column */
@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");
footer .columnas-footer, .card .card-body, .contenedor-empresa {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

/* Divs con Display Flex Row */
.menu, .contenedor-contacto {
  display: flex;
  flex-flow: row wrap;
}

.card .card-body a {
  display: block;
  text-align: center;
  height: 30px;
  width: auto;
  border: 1px solid #000;
  box-shadow: 2px 2px 2px #193498;
}
.card .card-body a:hover {
  background-color: yellow;
  box-shadow: 4px 4px 4px #193498;
  color: black;
  transition: all 0.5s;
}

/* Tipografia Akaya  Telivigala importada desde Google Fonts */
/* Importamos tipografia de iconos desde Bootstrap para usar principalmente en el footer */
/* Configuraciones Bases para la WEB */
:root {
  font-size: 16px;
  padding: 0;
  /* Estilo default de todas las imagenes en la web con un box-shadow */
}
:root h1 {
  font-size: 1.5rem;
}
:root * {
  margin: 0;
  padding: 0;
  font-family: "Akaya Telivigala", cursive;
}
:root img {
  filter: drop-shadow(3px 3px 3px #000);
  width: 100%;
  height: auto;
}

/* Contenedor Global de todas las secciones */
/* Estilo del Contenedor de la seccion de Contacto */
.contenedor-contacto {
  justify-content: center;
  margin: 5%;
  text-align: center;
  gap: 5%;
}
.contenedor-contacto .c-contacto {
  width: 47%;
}
.contenedor-contacto .c-contacto form {
  /* Estilo del Formulario en la seccion de contacto */
  margin: 0 auto;
}
.contenedor-contacto .c-contacto form label {
  display: block;
  letter-spacing: 0.5px;
}
.contenedor-contacto .c-contacto form input,
.contenedor-contacto .c-contacto form textarea,
.contenedor-contacto .c-contacto form select {
  margin-bottom: 1rem;
  width: 100%;
  border: none;
  border-bottom: 2px solid darkred;
  border-radius: 10px;
  text-align: center;
  text-transform: capitalize;
}
.contenedor-contacto .c-contacto form input:focus,
.contenedor-contacto .c-contacto form textarea:focus,
.contenedor-contacto .c-contacto form select:focus {
  outline: none;
  border-top: 2px solid darkred;
  transform: scale(1.05);
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
  transition: all 0.8s;
}
.contenedor-contacto .c-contacto form textarea {
  height: 100px;
  text-align: justify;
}

/* Contenedor general para las secciones de la Web con display flex Column */
.contenedor-empresa {
  margin: 1rem;
  text-align: justify;
  align-items: center;
}
.contenedor-empresa .c-empresa {
  margin: 1rem;
}
.contenedor-empresa .c-empresa img {
  width: 100%;
  height: auto;
  /* Animacion para las imagenes dentro de los contenedores generales */
}
.contenedor-empresa .c-empresa img:hover {
  transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition: all 0.8s;
}
.contenedor-empresa .c-empresa p {
  margin-bottom: 1rem;
}
.contenedor-empresa .c-empresa ol {
  padding-left: 2rem;
}
.contenedor-empresa .c-empresa ol li {
  margin-top: 1rem;
}

/* Media Querie para contenedor de contacto en Mobile */
@media screen and (max-width: 768px) {
  .contenedor-contacto {
    display: flex;
    flex-flow: column nowrap;
  }
  .contenedor-contacto .c-contacto {
    width: 100%;
    height: 600px;
  }
}
/* Estilo de las tarjetas del Index - Usa como base Bootstrap@5.1 */
.card {
  max-width: 350px;
  padding: 1rem;
  margin-bottom: 2rem;
}
.card img:hover {
  transform: translateY(-0.8rem);
  -moz-transform: translateY(-0.8rem);
  -webkit-transform: translateY(-0.8rem);
  -o-transform: translateY(-0.8rem);
  transition: all 0.8s;
}
.card .card-body {
  margin-top: 1rem;
  text-align: justify;
}
.card .card-body h4 {
  text-align: center;
  border-bottom: black solid 1px;
  margin: 1rem 0 1rem 0;
}
.card .card-body p {
  margin-bottom: 1rem;
}
.card .card-body a {
  text-decoration: none;
}

/* Inicio del Header */
.menu {
  justify-content: space-between;
  align-items: center;
  background-color: #193498;
}
.menu .logo img {
  width: 10rem;
}
.menu nav {
  display: inline-block;
}
.menu nav ul {
  margin-right: 2rem;
}
.menu nav ul li {
  display: inline-block;
  padding: 0.5rem;
}
.menu nav ul li:hover {
  transform: translateY(-0.2rem);
  -moz-transform: translateY(-0.2rem);
  -webkit-transform: translateY(-0.2rem);
  -o-transform: translateY(-0.2rem);
  transition: all 0.8s;
}
.menu nav ul li a {
  text-decoration: none;
  color: white;
}
.menu nav ul li a:hover {
  color: yellow;
}

/* Media Queries adecuar la barra de navegacion a dispositivos mobile */
@media screen and (max-width: 768px) {
  .menu {
    background-color: black;
    flex-flow: column nowrap;
    justify-content: space-between;
  }
  .menu .logo {
    margin: 1rem 0 1rem 0;
  }
  .menu nav {
    display: inline-block;
    width: 100%;
    text-align: center;
    border-top: 2px solid white;
  }
  .menu nav ul {
    margin: 0;
  }
}
video {
  border: #193498 2px solid;
  box-shadow: 5px 5px #193498;
  width: 100%;
}

/* Inicio del Footer */
footer {
  background: #193498;
  color: white;
  border-top: solid black 1rem;
}
footer .columnas-footer {
  align-items: center;
}
footer .columnas-footer p {
  justify-content: center;
  align-items: center;
}
footer .columnas-footer h3 {
  margin-bottom: 1rem;
}
footer .columnas-footer i {
  font-size: 2rem;
  color: white;
  padding-top: 0.5rem;
  margin: 1rem 1rem 1rem 1rem;
}
footer .columnas-footer i:hover {
  color: yellow;
}
footer .columnas-footer a {
  text-decoration: none;
  color: white;
}
footer .columnas-footer a:hover {
  color: yellow;
}

/* Media Queries para el footer cuando se reduce el tamaño de la pantalla */
@media screen and (max-width: 1000px) {
  footer {
    background-color: #193498;
  }
  footer .footer-column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
  }
  footer .footer-column .columnas-footer {
    padding: 1rem 0 1rem 0;
    border-top: solid white 2px;
  }
}
@media screen and (max-width: 768px) {
  footer {
    background-color: black;
  }
}

/*# sourceMappingURL=style.css.map */
