<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Defino el favicon, css, titulo y otros elementos a usar -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="shortcut icon" href="../src/fotos/icono-linkit.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <title>Link IT</title>
</head>

<body>
    <div class="container-fluid">
        <header>
            <div class="menu">
                <div class="logo">
                    <a href="../index.html"><img src="../src/fotos/logo-linkit.png" alt="Logo"></a>
                </div>
                <nav>
                    <ul>
                        <li><a href="../index.html">Inicio</a></li>
                        <li><a href="./empresa.html">Empresa</a></li>
                        <li><a href="./cloud.html">Cloud</a></li>
                        <li><a href="./software.html">Software</a></li>
                        <li><a href="./capacitacion.html">Capacitaciones</a></li>
                        <li><a href="./clientes.html">Clientes</a></li>
                        <li><a href="./contacto.html">Contacto</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="row justify-content-center">
            <div class="col-12 p-3">
                <h2>¡Disponemos de Diferentes medios de contacto!</h2>
            </div>
        </div>



        <div class="contenedor-contacto">

            <div class="c-contacto">
                <form action="https://formsubmit.co/romerok9@gmail.com" method="POST" id="formulario-contacto">

                    <LABEL for="nombre"><h3>COMPLETA NUESTRO FORMULARIO Y NOS CONTACTAREMOS:</h3> </LABEL>

                    <LABEL for="nombre">Empresa: </LABEL>

                    <INPUT type="text" id="empresa" name="Empresa:" placeholder="Ej: LinkIt SRL" required>

                    <LABEL for="apellido">Nombre y Apellido: </LABEL>

                    <INPUT type="text" id="nombre" name="Nombre y Apellido" placeholder="Ej: Link IT Solutions" required>

                    <LABEL for="email">E-mail: </LABEL>

                    <INPUT type="email" id="email" name="E-mail" placeholder="Ej: romerok9@gmail.com" required>

                    <LABEL for="text">Motivo del Contacto: </LABEL>

                    <select name="Motivo" id="seleccion" required>
                            <option value="seleccione">Seleccione una Opcion...</option>
                            <option value="soporte">Soporte Cloud</option>
                            <option value="ventas">Ventas</option>
                            <option value="capacitacion">Capacitaciones</option>
                            <option value="sumate">Sumate</option>
                        </select>

                    <LABEL for="text">Comentario: </LABEL>

                    <textarea name="Comentario"></textarea>
                    <input type="submit" class="submit" value="Enviar">
                    <input type="reset" class="submit" value="Restablecer!">

                </FORM>
            </div>
            <div class="c-contacto">
                <h3>NUESTRA DIRECCION</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11683.94232662817!2d-58.289598260978444!3d-34.73806718454288!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a32dd818a15aeb%3A0x99343d5b0ffe3e00!2sPres.%20Juan%20Domingo%20Per%C3%B3n%202239%2C%20Quilmes%20Oeste%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1635941687768!5m2!1ses-419!2sar"
                    width="95%" height="95%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

        </div>


        <footer class=" justify-content-center align-content-center">
            <div class="container-fluid">
                <div class="row footer-column">
                    <div class="columnas-footer col-lg-4 text-center ">

                        <h3>Newsletter</h3>
                        <p>Recibí la últimas novedades sobre Link It y el mercado tecnológico.</p>
                        <p>Escribí tu dirección de e-mail para recibir nuestra noticias.</p>
                        <label for="">
                            <input class="form-control" placeholder="Email"  type="text">
                        </label>
                        <p><a href="#"><i class="bi bi-bell"></i></a></p>

                    </div>

                    <div class="col-md-4 text-center columnas-footer">
                        <div class="contact-details ">
                            <h3>Contacto</h3>
                            <p><i class="bi bi-map"></i>Juan Domingo Peron 2239 / Quilmes - Argentina</p>
                            <p><i class="bi bi-phone"></i>(+54) 11 2779-2465</p>
                            <p><i class="bi bi-envelope"></i><a href="mailto:romerok9@gmail.com?subject=Hablamos!!">romerok9@gmail.com</a></p>
                        </div>
                    </div>
                    <div class="col-md-4 columnas-footer ">
                        <h3>¡Follow Us!</h3>
                        <div>
                            <a href=" https://www.linkedin.com/in/romerok9/ " target="_blank "><i class="bi bi-linkedin "></i></a>
                            <a href="https://t.me/Romerok9 " target="_blank "><i class="bi bi-telegram "></i></a>
                            <a href="https://fb.me/Link.ITBA " target="_blank "><i class="bi bi-facebook "></i></a>
                            <a href="https://www.instagram.com/kevs.romero/ " target="_blank "><i class="bi bi-instagram "></i></a>
                        </div>
                    </div>
                </div>

                <div class="row text-center pt-4 ">
                    <div class="col-12 border-top">
                        <p class="p-footer ">Link It Solutions, Since 2021 - Todos los derechos reservados</p>
                    </div>

                </div>
            </div>
        </footer>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>

</html>