<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Defino el favicon, css, titulo y otros elementos a usar -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="shortcut icon" href="../src/fotos/icono-linkit.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <title>Link IT</title>
</head>

<body>
    <div class="container-fluid">
        <header>
            <div class="menu">
                <div class="logo">
                    <a href="../index.html"><img src="../src/fotos/logo-linkit.png" alt="Somos una empre"></a>
                </div>
                <nav>
                    <ul>
                        <li><a href="../index.html">Inicio</a></li>
                        <li><a href="./empresa.html">Empresa</a></li>
                        <li><a href="./cloud.html">Cloud</a></li>
                        <li><a href="./software.html">Software</a></li>
                        <li><a href="./capacitacion.html">Capacitaciones</a></li>
                        <li><a href="./clientes.html">Clientes</a></li>
                        <li><a href="./contacto.html">Contacto</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="row justify-content-center">
            <div class="col-12 p-3">
                <h1>Link It Solutions, Una empresa para resolver tus desafios</h1>

            </div>
        </div>

        <div class="contenedor-empresa">
            <div class="card c-empresa">
                <img src="../src/fotos/icono-linkit.png" alt="ico-link">
            </div>

            <div class="c-empresa">
                <p>Nuestra empresa se crea como una manera de innovar tecnologías y servicios para todas aquellas Pymes que quieren darse a conocer y crecer de manera exponencial, nos orientamos al desarrollo e implementación de soluciones informáticas integrales.
                    Nuestra misión está orientada a ofrecer respaldo tecnológico, calidad en el servicio, respuestas inmediatas, retorno de la inversión y precios adecuados, permitiéndole al Cliente dedicarse a su negocio especifico.
                </p>
                <p>Link It se compone de profesionales de amplio desarrollo curricular, con años de experiencia en empresas de alto perfil, de distintos rubros y vinculados a las áreas de la tecnología de la información.
                </p>
                <p>
                    Nuestra meta es entregar a todos nuestros clientes:
                    <ol>
                        <li><strong>Infraestructura:</strong> Nuestros conocimientos en tecnologias Clouds garantizaran la correcta escalabilidad de los sistemas usados por nuestros clientes, garantizando una integracion rapida y continua.</li>
                        <li><strong> Llave en Mano:</strong> Garantizando la entrega de un producto de alta calidad y rapido desarrollo. </li>
                        <li><strong>Capacitaciones:</strong> Nuestros profesionales siempre estan disponibles para transferir los conocimientos necesarios a nuestros clientes.</li>
                    </ol>
                </p>

            </div>
        </div>


        <footer class=" justify-content-center align-content-center">
            <div class="container-fluid">
                <div class="row footer-column">
                    <div class="columnas-footer col-lg-4 text-center ">

                        <h3>Newsletter</h3>
                        <p>Recibí la últimas novedades sobre Link It y el mercado tecnológico.</p>
                        <p>Escribí tu dirección de e-mail para recibir nuestra noticias.</p>
                        <label for="">
                            <input class="form-control" placeholder="Email"  type="text">
                        </label>
                        <p><a href="#"><i class="bi bi-bell"></i></a></p>

                    </div>

                    <div class="col-md-4 text-center columnas-footer">
                        <div class="contact-details ">
                            <h3>Contacto</h3>
                            <p><i class="bi bi-map"></i>Juan Domingo Peron 2239 / Quilmes - Argentina</p>
                            <p><i class="bi bi-phone"></i>(+54) 11 2779-2465</p>
                            <p><i class="bi bi-envelope"></i><a href="mailto:romerok9@gmail.com?subject=Hablamos!!">romerok9@gmail.com</a></p>
                        </div>
                    </div>
                    <div class="col-md-4 columnas-footer ">
                        <h3>¡Follow Us!</h3>
                        <div>
                            <a href=" https://www.linkedin.com/in/romerok9/ " target="_blank "><i class="bi bi-linkedin "></i></a>
                            <a href="https://t.me/Romerok9 " target="_blank "><i class="bi bi-telegram "></i></a>
                            <a href="https://fb.me/Link.ITBA " target="_blank "><i class="bi bi-facebook "></i></a>
                            <a href="https://www.instagram.com/kevs.romero/ " target="_blank "><i class="bi bi-instagram "></i></a>
                        </div>
                    </div>
                </div>

                <div class="row text-center pt-4 ">
                    <div class="col-12 border-top">
                        <p class="p-footer ">Link It Solutions, Since 2021 - Todos los derechos reservados</p>
                    </div>

                </div>
            </div>
        </footer>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>

</html>