/* Configuraciones Bases para la WEB */

:root {
    font-size: 16px;
    * {
        margin: 0;
        padding: 0;
        font-family: 'Akaya Telivigala', cursive;
    }
    padding: 0;
    /* Estilo default de todas las imagenes en la web con un box-shadow */
    img {
        filter: drop-shadow(3px 3px 3px #000);
        width: 100%;
        height: auto;
    }
}